<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848862581518-c73uvqaavqbkje0fo6tva67a2rf678ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848862581518-c73uvqaavqbkje0fo6tva67a2rf678ks</string>
	<key>API_KEY</key>
	<string>AIzaSyA8ahACDoQsYHf4i7cQkIg54KAxyG29nEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>848862581518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kenryoTankyu</string>
	<key>PROJECT_ID</key>
	<string>tankyu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tankyu-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848862581518:ios:d0e6afb4c282eef9387d5f</string>
</dict>
</plist>